body{ 
background-color: gray;
 }

 .headerText{
     color: whitesmoke;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
 }

 .headerName{
     font-size: x-large;
 }

 .headerTitle{
     font-size: large;
 }

 #homepageHeadingImage{
    width: 100%;
}

div{ 
text-align: center;
 }

h1{ 
text-align: center;
 }

img{ 
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
 }

figcaption{ 
text-align: center;
 }

h2 { 
color: red;
/* Make the Master of Software Development a standount color */
}



