body{ 
background-color: gray;
 }

 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

 #homepageHeadingImage{
    width: 100%;
}

#QuickLinks{ 
text-align: center;
 }

h1{ 
text-align: center;
 }

#tahoe{ 
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
 }

figcaption{ 
text-align: center;
 }

h2 { 
color: red;
/* Make the Master of Software Development a standount color */
}



